.passive {
  border: 1px solid darkgray;
  color: darkgray;
}

.passive:hover {
  border: 1px solid rgb(197, 197, 197);
  color: rgb(197, 197, 197);
}

.active {
  color: aquamarine;
  border: 1px solid aquamarine;

}

.active,
.passive {
  background: none;
  border-radius: 2px;
}